.single__nft__card2 {
  padding: 20px;
  background: #28282A;
  border-radius: 10px;
  transition: width 2s;
}
.single__nft__card2:hover {
  scale: 1.05;
  filter: drop-shadow(0 0 0.4rem #E45C9C);
}
@media only screen and (max-width: 992px) {
  .nft__title {
    font-size: 0.8rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .bid__btn {
    padding: 4px 20px !important;
    font-size: 0.6rem !important;
  }
  .history__link a {
    font-size: 0.6rem !important;
  }
}
