.common__section {
  background: #1C1C1E;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}

.common__section h2 {
  color: #fff;
}
